.container {
  margin: 0 auto;
  width: 970px;
}

.hero-unit {
  padding: 10px; /* default is 60px; */
  background-color: #eee;
  margin-bottom: 20px;
}

.btn-success {
  margin-top: 10px;
  margin-left:  110px;
}

td, th {
  width: 180px;
}

.t_id {
  width: 20px;
}

.show_errors {
  color: red;
}

/*.show_info {
  border: solid 1px red;
  margin-left: 50px;
}*/

.show_comment {
  /*background-color: #acacac;*/
  /*border: 1px solid black;*/
  margin-left: 50px;
}

.box {
  border: solid 1px black;
  padding: 5px;
}
/*.comment_post {
  margin-left: 100px;
}*/

@media (max-width: 767px) { .hero-container { margin-right: -20px; margin-left: -20px; } }
