<!DOCTYPE html>
<html lang="en">
<head>
 <title>Edit profile</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Test App</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/show_dashboard">Dashboard</a></li>
        <li><a href="/users/edit">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logoff">Log off</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% if messages %}
        <div class="show_errors">
            <ul>
            {% for msg in messages %}
                    <li>{{msg.message}}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="hero-unit">
      <form action="/users/update_info/{{ user.id }}" method="post">
          {% csrf_token %}
          <h4>Edit Information</h4>
          <label for="email">Email Address:</label><br>
          <input type="text" name="email" id="email" value={{ user.email}}><br>
          <label for="first_name">First Name:</label><br>
          <input type="text" name="first_name" id="first_name" value={{ user.first_name }}><br>
          <label for="last_name">Last Name:</label><br>
          <input type="text" name="last_name" id="last_name" value={{ user.last_name }}><br>
          <input type="submit" class="btn btn-sm btn-success" value="Save">
      </form>
      <form action="/users/update_password/{{ user.id }}" method="post">
          {% csrf_token %}
          <h4>Change Password</h4>
          <label for="password">Password:</label><br>
          <input type="password" name="password" id="password"><br>
          <label for="password_confirm">Password Confirmation:</label><br>
          <input type="password" name="password_confirm" id="password_confirm"><br>
          <input type="submit" class="btn btn-sm btn-success" value="Update password">
      </form>
      <form action="/users/update_description/{{ user.id}}" method="post">
        {% csrf_token %}
        <h4>Edit Description</h4>
        <textarea name="description" id="description"></textarea><br>
        <input type="submit" class="btn btn-sm btn-success" value="Save">
      </form>
    </div>
  </div>
</body>
</html>
